[submodule "VulkanApp/vendor/GLFW"]
	path = VulkanApp/vendor/GLFW
	url = https://github.com/daniilvinn/glfw.git
[submodule "VulkanApp/vendor/spdlog"]
	path = VulkanApp/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "VulkanApp/vendor/VulkanMemoryAllocator"]
	path = VulkanApp/vendor/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
